h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 500%;
    color: white;
    text-shadow: 3px 3px 5px black;

}

h1 .G_of_google{
    color: hsl(240, 43%, 62%);
}

h1 .o_and_e_of_google{
    color: rgb(191, 87, 87);
    
}

h1 .other_o_of_google{
    color: rgb(210, 210, 52);
}

h1 .l_of_google{
    color: rgb(33, 133, 33);
}

body {
    background-color: #202124;
}


#search {
    width: 600px; 
    height: 40px; 
    margin-top: 0%;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: none;
    background-color: rgb(36, 33, 33);
    padding-top: 0%;
    background-image: url(All_Images/mic.png);  
    background-position: right;
    background-repeat: no-repeat;
}
#search:hover{
    background-color: rgb(74, 70, 70);
    
}  
.container {
    text-align: center; /* This centers the contents inside the container */
    /* background-image: url(search_icon.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;
    position: relative; */
}
.class_submit{
    text-align: center;
}

.imfl-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(62, 56, 56);
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transform-origin: center;
    transition: transform 0.3s;
}

.imfl-button:hover {
    background-color: rgb(76, 74, 74);
    animation: popup 0.5s ease-in-out 1 forwards;
  transform: scale(1.1); 
}

.submit{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(62, 56, 56);
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-right: 0.5%;
    cursor: pointer;  
    transform-origin: center;
    transition: transform 0.3s;
}


@keyframes popup{
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }



.submit:hover{
    background-color: rgb(76, 74, 74);
    animation: popup 1s ease-in-out 1 forwards;
  transform: scale(1.1); 
  box-shadow: 10px 10px 10px black;
}
.goi{
    text-align: center;
    padding: 20px;
    word-spacing: 5px;
    color: white;
}
.goi a{
    color: lightblue;
    text-decoration: none;
}
.goi a:hover{
    text-decoration: underline;
}

.header-links a{
    text-decoration: none;
}
.header-links a:hover{
    text-decoration: underline;
}


.header-links {
    text-align: right;
    color: #fff;
  }
  
.header-links > a {
    color: #fff;
    padding: 5px;
    margin-right: 5px;
  }
.img {
    width: 50px;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;

  }
.india{
    color:#ccc;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(70, 63, 63);
}

footer .india,
footer hr,
footer .want_on_right,
footer .want_on_left {
    margin: 0 20px; 
    color: #9AA0A6;
}

footer .india {
    color: #ccc;
    float: left;
     margin: 10px 10px 10px;
     padding-left: 20px;
     text-decoration: none;
}

footer hr {
    border: 0;
    border-top: 1px solid #ccc;
    clear: both; 
}

footer .want_on_right {
    float: right; 
    word-spacing: 10px;
    
}

footer a{
    text-decoration: none;
    color: #ccc;
}
footer a:hover{
    text-decoration: underline;
}

footer .want_on_left{
    padding-top: 10px;
    justify-content: space-evenly;
    word-spacing: 10px;
    margin: 10px 10px 10px;
    margin-bottom: 0px;
    padding: 0px;
    padding-left: 20px;
}
.how_search_works{
    word-spacing: 0px;
}
